[run]
branch = true
include = python/jaeger/*
omit =
    */core/*.py
    */cli.py
    */__init__.py
    */cannet.py
    */wago.py
    */wago/*
    */actor/*
    testing.py

[report]
exclude_lines =
    class AsyncioExecutor
    def convert_kaiju_trajectory
    def _process_replies\(cmds\)
    class CANnetInterface
