[tool.poetry]
name = "jaeger"
version = "0.4.3-alpha.0"
description = "Controllers for the SDSS-V FPS"
authors = ["José Sánchez-Gallego <gallegoj@uw.edu>"]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://github.com/sdss/jaeger"
repository = "https://github.com/sdss/jaeger"
documentation = "https://sdss-jaeger.readthedocs.io/en/latest/"
keywords = ["astronomy", "software"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Documentation :: Sphinx",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
packages = [
    { include = "jaeger", from = "python" }
]
include = ["README.md", "python/jaeger/etc/*"]

[tool.poetry.dependencies]
python = "^3.7"
astropy = "^3.0.4"
numpy = "^1.15.1"
Click = "^7.0"
python-can = "^3.1.1"
progressbar2 = "^3.39.3"
sdss-clu = "^0.2.0"
pyserial = "^3.4"
pymodbus = "^2.3.0"
peewee = "^3.11.2"
Sphinx = {version = "^2.1", optional = true}
sphinxcontrib-trio = {version = "1.1.0", optional = true}
sphinx-click = {version = "2.3.0", optional = true}
sdsstools = {version = "^0.1.11", extras = ["dev"]}
sdssdb = "^0.4.5"

[tool.poetry.dev-dependencies]
ipython = "^7.9.0"
matplotlib = "^3.1.1"
invoke = "^1.3.0"
flake8 = "^3.7.9"
doc8 = "^0.8.0"
pytest = "^5.2.2"
pytest-asyncio = "^0.10.0"
pytest-cov = "^2.8.1"
pytest-sugar = "^0.9.2"
isort = "^4.3.21"
codecov = "^2.0.15"
coverage = {version = "5.0", extras = ["toml"]}
Sphinx = {version = "^2.1"}
sphinxcontrib-trio = {version = "1.1.0"}
sphinx-click = {version = "2.3.0"}

[tool.poetry.extras]
docs = ["Sphinx", "sphinxcontrib-trio", "sphinx-click"]

[tool.poetry.scripts]
jaeger = "jaeger.__main__:jaeger"

[tool.isort]
line_length = 79
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "SDSS", "FIRSTPARTY", "LOCALFOLDER"]
default_section = "THIRDPARTY"
known_first_party = ["jaeger"]
known_sdss_party = ["sdsstools"]
balanced_wrapping = true
include_trailing_comma = false
lines_after_imports = 2
use_parentheses = true

[tool.coverage.run]
branch = true
include = ["python/jaeger/*"]
omit = [
    "*/core/*.py",
    "*/cli.py",
    "*/__init__.py",
    "*/cannet.py",
    "*/wago.py",
    "*/wago/*",
    "*/actor/*",
    "testing.py"
]

[tool.coverage.report]
exclude_lines = [
    "class AsyncioExecutor",
    "def convert_kaiju_trajectory",
    "def _process_replies(cmds)",
    "class CANnetInterface"
]

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
